Source: gka-data-e
Section: database
Priority: optional
Maintainer: Adam Boardman <adamboardman@gmail.com>
Standards-Version: 3.9.8
Homepage: https://github.com/gemian/gka-data-e
Vcs-Git: https://github.com/gemian/gka-data-e.git
Vcs-Browser: https://github.com/gemian/gka-data-e
Build-Depends:
 debhelper (>= 10),
 intltool,
 cmake,
 apt-utils,
 libsqlite3-dev,
 libeina-dev,
 libeet-dev,
 libevas-dev,
 libecore-dev,
 libefreet-dev,
 libedje-dev,
 libedbus-dev,
 libeeze-dev,
 libeio-dev,
 libelementary-dev,

Package: gka-data-e
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
 libelementary1,
 libeina1a,
 libecore-con1,
 libecore-evas1,
 libecore-file1,
 libecore-imf1,
 libecore-input1,
 libecore-ipc1,
 libecore-x1,
 libecore1,
 libevas1-engine-software-x11,
 libsqlite3-0,
Conflicts:
Replaces:
Recommends:
Description: GKA Data
 Simple Sqlite3 database editor.
 .
 Based on EFL.
